/* Colours:
  Rouge #
  Lilac Bush #9A77CF
  Light Wisteria #BDA7E0
  Royal Blue #7534E5
  Tundora #4A4747
  Silver Chalice #9E9E9E
  Athens Gray #F0F2F5
 */
/* Page background colour */
body {
  background: #F0F2F5;
  color: #333333;
  margin-top: 5rem;
}

/* Header colour */
h1, h2, h3, h4, h5, h6 {
  color: #202124;
}

.bg-steel {
  background-color: #262254;
}

/* Navbar link text colour */
.site-header .navbar-nav .nav-link {
  color: #BEBEBE;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.matches-title {
  color: #444444;
}

a.matches-title:hover {
  color: #428bca;
  text-decoration: none;
}

.matches-content {
  white-space: pre-line;
}

.matches-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.matches-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.flash {
  margin: 1em 0;
  padding: 1em;
  background: #cae6f6;
  border: 1px solid #377ba8;
  opacity: 1;
  transition: opacity 0.6s;
  text-align: center;
}

.flash .hide {
  visibility: hidden
}

.matches-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.matches-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}
